
body { 
  background: url('assets/haystack.jpg');
  font-family: 'Open Sans', arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

p {
  display: block;
  font-size: 1.35em;
  line-height: 1.5em;
  margin-bottom: 22px;
}



/** page structure **/
#w {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}

#content {
  display: block;
  max-width: 100%;
  background: rgba(255,255,255, 0.8);
  padding: 25px 20px;
  padding-bottom: 35px;
  position: relative;
}



#outputcontent {
  background: rgba(255, 255, 255, 0);
  font-size: 1.3em;
  color:white;
  padding: 100px;
  margin: 0 auto;
}

#outputcontent img {
  width: 100%;
}

#outbox {
  
}


#searchfield { 
  display: block; 
  width: 100%; 
  text-align: center; 
  margin-bottom: 35px; 
}

#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  margin: 5px 0 0 0;
}
#searchfield form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}


.autocomplete-suggestions {
 border: 1px solid #999; 
 background: #fff; 
 cursor: default; 
 overflow: auto; 
}
.autocomplete-suggestion { 
  padding: 10px 5px; 
  font-size: 1.2em; 
  white-space: nowrap; 
  overflow: hidden; 
}
.autocomplete-selected { 
  background: #f0f0f0; 
}
.autocomplete-suggestions strong { 
  font-weight: normal; 
  color: #3399ff; 
  /*visibility: hidden;*/
}